# Dependencies
node_modules/

# Environment variables (NEVER commit these)
.env
.env.local
.env.production

# Build files
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Database config (if in a separate file)
db-config.js

#aws credentials
*.csv


#image uploads
uploads/